<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi-Gradez || Register</title>
</head>
<body>

    <h2>Register</h2>

    <form action="/register" method="post">
        <input type="text" name="firstName" placeholder="FIRST NAME">
        <input type="text" name="lastName" placeholder="LAST NAME">
        <input type="email" name="emailId" placeholder="E-MAIL ID">
        <input type="password" name="password" placeholder="PASSWORD">
        <input type="password" name="confirmPassword" placeholder="CONFIRM PASSWORD">
        <input type="number" name="phoneNumber" placeholder="PHONE NUMBER">
        <input type="number" name="adharNumber" placeholder="ADHAR NUMBER">
        <input type="submit" value="Register">
    </form>
</body>
</html>